<div class="border-bottom row"; style="margin-bottom:20px; padding-bottom:8px;">
  <div class="col-11">
      <h4 style="color:rgb(120,120,120); margin-bottom:4px;">{{freight['title']}}</h4>
    
      <div>
          <h6><b class="text-danger">Location:</b> {{freight['location']}}</h6>
      </div>
    
      {% if 'destination' in freight %} <!-- If destination is empty -->
      <div>
          <h6><b class="text-danger">Destination:</b> {{freight['destination']}}</h6>
      </div>
      {% endif %}                                                                              
  </div>
  
  <div class="col-1">
      <a href="mailto:abdou_habibou@yahoo.com?subject=Application%20for%20{{freight['title']}}&body=My%20name%3A%20%3Cyour%20name%20here%3E%0D%0A%0D%0AMy%20resume%20link%3A%20%3CResume%20Link%3E%0D%0A%0D%0AMy%20LinkedIn%3A%20%3CLinkedIn%20link%3E" type="button" class="btn btn-outline-primary"><b>Apply</b></a>
  </div>
  
</div>